@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 1440px;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

/* header */

.page-header {
  padding: 15px 60px 34px 60px;
  background: linear-gradient(transparent 40px, #ffe17f 40px);
  position: relative;
}

.container-user-menu {
  display: flex;
  margin-bottom: 30px;
}

.navigation-user {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 26px;
}

.navigation-sign {
  margin-right: 198px;
}

.navigation-compare {
  margin-right: 61px;
}

.subcatalog {
  display: none;
  grid-template-columns: 222px 170px 1fr 1fr 1fr auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  column-gap: 30px;
  grid-row-gap: 20px;
  position: absolute;
  left: 0;
  padding: 33px 0 27px 60px;
  margin: 0;
  width: calc(100% + 120px);
  max-width: 1160px;
  z-index: 2;
  background-color: #ffe17f;
}

.navigation {
  display: grid;
  grid-template-columns: 261px 1fr;
  gap: 276px;
  padding: 0;
  margin: 0;
}

.navigation-list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 47px;
  margin: 0;
  padding: 0;
}

.search-form-navigation {
  display: flex;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  padding: 10px 48px;
  box-sizing: border-box;
  width: 359px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 2px solid #000000;
  background-color: #ffe17f;
}

.button-form-navigation {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 56px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 2px solid #000000;
  background-color: #ffe17f;
  cursor: pointer;
}

.navigation-link {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
  padding-top: 6px;
}

.navigation-link-logo {
  display: block;
  width: 145px;
  margin-bottom: 30px;
}

.subcatalog,
.navigation-list {
  list-style-type: none;
}

.button-catalog {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
}

.inner-navigation:focus-within .subcatalog {
  display: grid;
}

.subcatalog-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

/* main */

.main-index {
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.slider {
  background-image: linear-gradient(#ffe17f 114px, transparent 114px);
  padding-top: 83px;
}



.slider-card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.slider-card-current {
  display: grid;
  gap: 40px;
}

.slider-card-item {
  grid-template-columns: 1fr 1fr;
}

.slider-card-item:not(:nth-child(1)) {
  display: none;
}

.image-slider {
  display: block;
  position: relative;
  bottom: 110px;
}

.slider-controls {
  position: relative;
}

.slider-controls::before {
  position: absolute;
  background-image: url("../images/arrow-slider.svg");
  background-repeat: no-repeat;
  content: "";
  width: 20px;
  height: 60px;
  cursor: pointer;
  bottom: 395px;
  left: 37px;
}

.slider-controls::after {
  position: absolute;
  background-image: url("../images/arrow-slider.svg");
  background-repeat: no-repeat;
  content: "";
  width: 20px;
  height: 60px;
  cursor: pointer;
  bottom: 395px;
  left: 519px;
  transform: rotate(180deg);
}

.button-slider {
  border: none;
  background: none;
  cursor: pointer;
}

.slider-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0 0 29px 0;

}

.slider-description {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0 0 60px 0;
}

.slider-content-link,
.about-link,
.feedback-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.slider-content-link {
  display: block;
  width: 210px;
  margin-left: 43px;
  margin-bottom: 50px;
}

.properties-slider-content {
  display: flex;
  width: 305px;
  justify-content: space-between;
  margin: 0;
}

.details-slider-content {
  margin: 0;
}

.properties-slider-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.termin-slider-content {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.details-slider-content {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.button-view {
  text-decoration: none;
  color: #000000;
}

.indicators-pagination {
  width: 76px;
  position: relative;
  display: flex;
  left: 530px;
  bottom: 100px;
  gap: 15px;
}

.indicators-button {
  border: none;
  background: none;
  cursor: pointer;
}

/* category */

.category-catalog-list {
  display: flex;
  width: 1160px;
  list-style-type: none;
  padding: 0;
  min-height: 253px;
  column-gap: 40px;
  margin: 0;
}

.wrapper-catalog {
  padding: 0 0 70px 0;
}

.category-catalog-item {
  width: 160px;
  display: flex;
  flex-direction: column-reverse;
}

.category-catalog-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  letter-spacing: -0.02em;
  height: 60px;
  margin: 0 auto;
  margin-left: 0;
  display: block;
  position: relative;
}

.category-catalog-link:before {
  content: "";
  background-color: #ffe17f;
  background-image: url("../images/vr.svg");
  background-repeat: no-repeat;
  background-position: center 54px;
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: 70px;
}

.catalog-selfie::before {
  background-image: url("../images/monopod-selfie.svg");
  background-repeat: no-repeat;
  background-position: center 44px;
}

.catalog-camera::before {
  background-image: url("../images/action-camera.svg");
  background-repeat: no-repeat;
  background-position: center 37px;
}

.catalog-fitness-band::before {
  background-image: url("../images/fitness-band.svg");
  background-repeat: no-repeat;
  background-position: center 48px;
}

.catalog-watch::before {
  background-image: url("../images/watch.svg");
  background-repeat: no-repeat;
  background-position: center 32px;
}

.catalog-copter::before {
  background-image: url("../images/copter.svg");
  background-repeat: no-repeat;
  background-position: center 46px;
}


/* tab */

.tab-item:not(:nth-of-type(1)) {
  display: none;
}

.property-tab {
  background: linear-gradient(#ffffff 102px, #f0f0f0 102px);
}

.property-tab-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 116px;
  position: relative;
  padding-top: 71px;
}

.buttons-tab-list,
.tab-list,
.contacts-list {
  list-style-type: none;
}

.buttons-tab-list {
  padding: 0;
  margin: 0;
  width: 287px;
  position: relative;
}

.buttons-tab {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
}

.buttons-tab-list::before {
  position: absolute;
  content: "";
  background-color: #000000;
  width: 7px;
  height: 110%;
  right: 0;
  bottom: 37px;
}

.buttons-tab-item {
  width: 160px;
  margin-bottom: 55px;
}

.tab-list {
  padding: 0;
  margin: 0;
  width: 694px;
}

.tab-title,
.about-title,
.contacts-title,
.subscribes-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.tab-title {
  padding: 0;
  margin: 0 0 34px 0;
  position: relative;
}

.title-delivery::after {
  position: absolute;
  content: "";
  background-image: url("../images/delivery-man.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  right: -23px;
}

.title-guarantee::after {
  position: absolute;
  content: "";
  background-image: url("../images/guarantee.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  right: -23px;
}

.title-credit::after {
  position: absolute;
  content: "";
  background-image: url("../images/credit.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  right: -23px;
}

.tab-description,
.about-text,
.contacts-text,
.contacts-address,
.contacts-item,
.number-phone-link,
.subscribes-text,
.subscribes-phrase {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.tab-description {
  margin: 0;
}

/* order-buttons-styles */
.order-buttons {
  padding-top: 9px;
  padding-bottom: 11px;
  padding-right: 120px;
  background-color: #000000;
  width: 280px;
  color: #ffe17f;
}

.buttons-styles {
  padding-top: 6px;
  padding-bottom: 6px;
  background-image: url("../images/catalog-swipe.svg");
  background-repeat: no-repeat;
  width: 160px;
  background-position: center 14px;
}


/* delivery */

.delivery-order-wrapper {
  padding: 110px 140px 110px 140px;
}

.order-link-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.order-link-wrapper {
  display: block;
  width: 1160px;
  text-align: center;
  padding: 40px 125px 40px 125px;
  background-color: #f0f0f0;
}

.delivery-order-link {
  text-decoration: none;
  position: relative;
}

/* about */

.about-title {
  margin: 0 0 48px 0;
}

.about-text {
  margin: 0 0 30px 0;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 108px;
  margin-bottom: 70px;
}

.about-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 19px;
}

.about-item:last-child {
  margin: 0;
}

.about-list {
  width: 182px;
  margin: 0 0 40px 0;
  padding: 0;
}

.about-link {
  display: block;
}

.about-container {
  padding: 47px 0 62px 0;
  position: relative;
}

.contacts-container {
  padding: 47px 0 10px 0;
  position: relative;
}

.about-container::before {
  position: absolute;
  content: "";
  background-color: #000000;
  width: 84px;
  height: 7px;
  top: 0;
  left: 0;
}

.contacts-container::before {
  position: absolute;
  content: "";
  background-color: #000000;
  width: 84px;
  height: 7px;
  top: 0;
  left: 0;
}

.contacts-title {
  margin: 0 0 48px 0;
}

.contacts-text {
  margin: 0;
}

.contacts-title-store {
  margin: 0 0 15px 0;
}

.contacts-wrapper {
  margin-bottom: 30px;
}

.contacts-title-time {
  margin: 0 0 15px 0;
}

.numbers-phone-wrapper {
  margin: 0 0 30px 0;
}

.contacts-list {
  display: block;
  margin: 0 0 40px 0;
  padding: 0;
}

.feedback-link {
  display: block;
  margin: 0;
}

/* subscribe */

.subscribes {
  background-color: #f0f0f0;
  padding: 64px 0 56px 0;
}

.subscribes-wrapper {
  display: grid;
  gap: 144px;
}

.container-subscribe {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 250px;
}

.container-footer-form {
  display: flex;
  justify-content: space-between;
}

.subscribes-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 11px 16px 14px 16px;
  width: 447px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  background-color: #f0f0f0;
}

.button-subscribe {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #c4c4c4;
  width: 253px;
  cursor: pointer;
}

.subscribes-title {
  margin: 0;
}

.subscribes-form {
  display: flex;
}

.subscribes-text {
  width: 560px;
  margin: 0;
}

.subscribes-phrase {
  width: 128px;
  display: block;
  margin-top: 13px;
}

/* footer */

.footer-contacts-address {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

.footer-number-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-catalog {
  color: #ffffff;
}

.page-footer {
  background-color: #444444;
  margin-top: auto;
}

.logo-address-wrapper {
  display: grid;
  gap: 35px;
}

.footer-description-device {
  display: grid;
  gap: 62px;
}

.footer-social-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  gap: 15px;
  min-width: 115px;
}

.page-footer-wrapper {
  padding: 62px 0;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-link-logo {
  width: 145px;
  height: 36px;
  display: block;
  margin-bottom: 35px;
}

.phone-container {
  display: grid;
  gap: 63px;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  opacity: 0.3;
  border-radius: 50%;
}

.footer-number-phone {
  margin-left: auto;
}

.link-academy {
  margin-left: auto;
}

.icon-social {
  position: relative;
  top: 5px;
  left: 12px;
}

.icon-twitter {
  top: 7px;
}

/* catalog */
/* header */

.header-inner {
  padding: 35px 0 35px 60px;
}

/* popover */
.navigation-basket {
  position: relative;
}

.popover {
  display: none;
  position: absolute;
  top: 128px;
  right: -25px;
  background-color: #000000;
}

.product-list-popover {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

.product-item-popover {
  display: flex;
  justify-content: space-between;
}

.product-title-popover,
.popover-number-product,
.popover-price {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.popover-price-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-link-popover {
  text-decoration: none;
}

.button-popover {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

/* breadcrumbs */

.breadcrumbs-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 84px 150px 165px;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.catalog-title-inner {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 541px;
  margin: 0 0 16px 0;
  padding: 0;
}

/* form */

.catalog-filter {
  border: none;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.catalog-filter-slider {
  margin: 0 0 49px 0;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #dcdcdc;
  width: 200px;
}

.range-bar {
  background-color: #000000;
  height: 2px;
  position: absolute;
}

.range-toggle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ebebeb;
  border: 2px solid #000000;
  position: absolute;
  top: -9px;
  cursor: pointer;
}

.toggle-max {
  left: 110px;
}

.toggle-min {
  left: -10px;
}

.range-wrapper-inputs {
  display: flex;
  margin-top: 6px;
}

.catalog-filter-label {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.range-input {
  background-color: transparent;
  border: none;
  appearance: textfield;
  padding-top: 2px;
}

.filter-label-left {
  width: 30px;
  margin-left: -12px;
}

.filter-label-right {
  width: 55px;
  margin-left: 76px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* product */

.content-container {
  display: grid;
  grid-template-columns: 320px 840px;
}

.filter-container {
  width: 320px;
  padding: 25px 0 0 60px;
}

.filter-container-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0 0 72px 0;
}

.sorting-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sorting-filter {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 142px;
  height: 30px;
  margin-top: 19px;
  border: none;
}

.sorting-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 205px;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  list-style-type: none;
  margin: 0 0 44px 0;
  padding: 0;
}

.product-link {
  text-decoration: none;
  color: #000000;
}

.product-link-wrapper {
  display: grid;
  grid-template-columns: 226px 1fr;
}

.catalog-filter-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-item {
  margin-bottom: 17px;
}

.bluetooth-item {
  margin-bottom: 20px;
}

.title-price {
  margin: 0 0 30px 0;
}

.catalog-filter-colors {
  margin: 0 0 47px 0;
}

.title-color,
.title-bluetooth {
  margin-bottom: 20px;
}

.control-label,
.control-radio-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter-bluetooth {
  margin: 0 0 45px 0;
}

/* control */

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark,
.control-radio {
  position: absolute;
  top: 6px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}

.control-radio {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-radio::before {
  position: absolute;
  content: "";
  background-color: #000000;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 4px;
  top: 4px;
}

.catalog-filter-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  background-image: url("../images/check-mark-form.svg");
  background-repeat: no-repeat;
  left: 3px;
  top: 3px;
  width: 10px;
  height: 10px;
}

.product-item {
  display: grid;
  gap: 32px;
}

.product-card {
  padding: 70px 40px 78px 40px;
}

.product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
}

.product-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  margin-left: auto;
}

.button-filter-show {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
}

.button-product-loading {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
  padding: 18px 39px;
  width: 760px;
  height: 55px;
  cursor: pointer;
  margin: 0 0 44px 0;
}

/* pagination */

.pagination-list {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  padding: 0;
  list-style-type: none;
  width: 200px;
  margin: 0 auto;
}

.pagination-item {
  margin: 0 auto;
}

.pagination-wrapper {
  padding: 25px 145px;
  background-color: #ebebeb;
}

.pagination-link,
.pagination-doted {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}

.buttons-pagination-container {
  display: flex;
  width: 723px;
  justify-content: space-between;
  position: relative;
  bottom: 52px;
  left: 17px;
}

.buttons-pagination {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background: none;
  color: #000000;
  cursor: pointer;
}

.pagination-preview {
  color: #444444;
  opacity: 0.3;
}
